@use "../abstracts/variables" as *;

:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
}

body {
  overflow-x: hidden;
    font-size: $font-family-base;
    max-width: 100%;
    margin:0;
}

html {
  overflow: visible;
  max-width: 100%;
  margin:0;
}
