@use "../abstracts/variables" as v;

.main-content {
  min-height: 100vh;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.content-row{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.25rem;
  align-items: start;
}

.left-content,
.right-content{
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.left-content{
  display:flex;
  flex-direction:column;
}

.right-content{
  display:flex;
  flex-direction:column;
}

