$bp-mobile: 520px;

$font-stack: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

$color-border: #000;
$color-text: #fff;
$color-border: #2f3336;
$color-muted: #8b98a5;
$color-blue: #1871c2;
$color-sell-text: #e03131;
$color-buy-bg: #b2f2bb;
$color-sell-bg: #ffc9c9;
$color-buy-text: #2f9e44;

$border-bar-graph-green: 1px solid #2f9644;
$border-bar-graph-red: 1px solid #e03131;
$border-grid: 1px dotted rgb(0,0,0,0.5);
$border-box: 1px solid #000;
