@use "../abstracts/variables" as v;

body {
  font-family: v.$font-stack;
  background: v.$color-bg;
  color: v.$color-text;
}

.hashtag {
  color: #1d9bf0;
  cursor: pointer;
}

.hashtag:hover {
  text-decoration: underline;
}
