@use "../abstracts/variables" as v;

.btn-buy{
  background-color: v.$color-buy-bg;
  color: v.$color-buy-text;
}
.btn-sell{
  background-color: v.$color-sell-bg;
  color: v.$color-sell-text;
}

button{
    border: none;
}